name: My First Workflow

on:
  push:
    branches:
      - main
workflow_dispatch:

jobs:
  MyFirstJob:
   runs-on: ubuntu-latest
   steps:
     - run: echo "Hello Murali123!"

      - name: Checkout
  uses: actions/checkout@v6.0.2

  -name: List files in the repository
  run: 
    echo "The repository ${{ github.repository }} contains the following files:"
     tree
     
